<div class="container bg-success">
    
    <div class="row text-center">
        <div id="time-stamps" class="col-2 d-flex flex-column">
            <div class="bg-danger">
                <br>
                <br>
            </div>
            <!--Timestamp Labels-->
            <div class="border-top pt-0 pb-3" *ngFor="let time of times">
                {{time}}
            </div>
        </div>
        <!--Day and Date Header (DB fetch)-->
        <div class="col-2 d-flex flex-column" *ngFor="let key of dateMap.keys()">
            {{key}}<br>{{dateMap.get(key)}}
            <!--Time slot borders-->
            <div class="d-flex flex-column flex-fill justify-content-center" style="position: relative;">
                <div *ngFor="let time of times" style="height: 5.2631578%" [ngStyle]='hourStyle(time)'>
                </div>
                <app-schedule-event *ngFor="let event of eventMap.get(key)" [eventInput]="event"></app-schedule-event>
            </div>
        </div>
    </div>

</div>