<!-- Classic input and div-->
<!-- 
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">Login Form</div>
            <div class="card-body">
                <form [formGroup]="loginForm" (submit)="handleSubmit($event)">
                    <div class="form-group">
                        <label>Email</label>
                        <input formControlName="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input formControlName="password" class="form-control" type="password" />
                    </div>
                    <button class="btn btn-dark">Login</button>
                </form>
            </div>
        </div>
    </div>
</div> -->

<!-- Material UI Forms + Flex Box from BS5 + Reactive Forms-->

<div class='container d-flex justify-content-center align-items-center'>
    
    <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" class="card">
        <p class="text-center">Welcome to Revature Auto</p>
        <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" formControlName="email" class="form-control" name="email" type="email">
            <mat-error *ngIf="loginForm.controls['email'].invalid">Enter an email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
            <mat-label>Password</mat-label>
            <input matInput placeholder=""  formControlName="password" class="form-control" name="password" type="password">
            <mat-error *ngIf="loginForm.controls['password'].invalid">Enter a valid password</mat-error>
        </mat-form-field>
        <button class="btn btn-dark">Login</button>
    </form>
    <!-- Debug -->
<!-- 
    <p>Form Value: {{ loginForm.value | json }}</p>
    <p>Form Status: {{ loginForm.status }}</p> -->

</div>