<!-- Main Nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">RevatureAuto.com</a>
    </div>
    <ul class="navbar-nav justify-content-right">
      <li class="nav-item">
        <a class="nav-link active" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Login</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Hero Section -->
<header>
  <div class="container pt-5">
    <div class="row p-5 text-white">
      <h1 class="display-1">
        Welcome to <br />
        Revature Auto
      </h1>

      <div class="col">
        <button
          href="#login"
          type="button"
          class="btn btn-primary btn-lg m-3"
          value="submit"
        >
          Login
        </button>
        <button
          type="button"
          class="btn btn-outline-primary btn-lg m-3"
          value="submit"
        >
          Sign up
        </button>
      </div>
    </div>
  </div>
</header>

<!-- Services Section -->
<section class="mt-4" id="services-section">
  <div class="container">
    <h2 class="display-3 p-3 text-center">Services We Offer</h2>
    <div class="row mx-auto">
      <div class="card col">
        <img
          class="card-img-top"
          src="../assets/img/pexels-gustavo-fring-6870297.jpg"
          alt="Oil added to engine"
        />
        <div class="card-body">
          <h3 class="card-title">Oil Change</h3>
          <p class="card-text">
            Onec faucibus orci ac pharetra fringilla. Phasellus ullamcorper
            justo urna, non facilisis enim cursus vel. Praesent sagittis laoreet
            ipsum non vulputate.
          </p>
        </div>
      </div>
      <div class="card col">
        <img
          class="card-img-top"
          src="../assets/img/pexels-cottonbro-4489749.jpg"
          alt="Oil added to engine"
        />
        <div class="card-body">
          <h3 class="card-title">Tires</h3>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec
            magna vel dolor ullamcorper suscipit. Phasellus malesuada dolor
            mattis, sagittis lacus.
          </p>
        </div>
      </div>
      <div class="card col">
        <img
          class="card-img-top"
          src="../assets/img/pexels-mídia-4116220.jpg"
          alt="Oil added to engine"
        />
        <div class="card-body">
          <h3 class="card-title">Fluids</h3>
          <p class="card-text">
            Ut nec pretium purus. Pellentesque ultricies tempor nisi.
            Suspendisse scelerisque orci et ex vehicula varius. In venenatis
            urna nec massa molestie aliquet.
          </p>
        </div>
      </div>
      <div class="card col">
        <img
          class="card-img-top"
          src="../assets/img/daniel-bestjumpstarterreview-com-ovGrEUgrkyE-unsplash.jpg"
          alt="Oil added to engine"
        />
        <div class="card-body">
          <h3 class="card-title">Battery</h3>
          <p class="card-text">
            Cras fringilla, lectus id placerat semper, tortor risus viverra
            lorem, in convallis lacus sem non nibh. Duis tincidunt mi viverra
            ante suscipit, ut pharetra tellus fermentum.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Login Section -->
<!-- <section id="login-section" class="mt-4">
  <div class="container">
    <h2>Login</h2>
    <form action="#">
      <div class="mb-3 mt-3">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Enter email"
          name="email"
        />
      </div>
      <div class="mb-3">
        <label for="pwd">Password:</label>
        <input
          type="password"
          class="form-control"
          id="pwd"
          placeholder="Enter password"
          name="pswd"
        />
      </div>
      <div class="form-check mb-3">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="remember" />
          Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</section> -->

<!-- Footer -->
<footer class="text-center text-lg-start bg-primary text-white">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Branding -->
          <h6 class="text-uppercase fw-bold mb-4">Revature Auto</h6>
          <p>
            Mumblecore meditation flexitarian prism, shoreditch chambray
            semiotics readymade kale chips succulents. 8-bit small batch
            williamsburg.
          </p>
        </div>

        <!-- Service Links -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Services</h6>
          <p>
            <a href="#!" class="text-reset">Oil Change</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Tires</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Fluids</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Battery</a>
          </p>
        </div>

        <!-- Useful Links -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a href="#" class="text-reset">About Us</a>
          </p>
          <p>
            <a href="#" class="text-reset">Promotions</a>
          </p>
          <p>
            <a href="#" class="text-reset">FAQ</a>
          </p>
          <p>
            <a href="#" class="text-reset">Help</a>
          </p>
        </div>

        <!-- Contact Details -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
          <p>Reston, VA 20190</p>
          <p>contact@revatureauto.com</p>
          <p>(703) 555-1234</p>
          <p>(703) 555-6789</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-2 shade">
    © 2021 Copyright
    <a class="text-reset fw-bold" href="#">RevatureAuto.com</a>
  </div>
</footer>
